body{
    background-image: url(../images/dark-grey-terrazzo/dark-grey-terrazzo.png);
}

img{
    padding:0;
    border:0;
    margin:0;
}

#blueImg{
    background-image: url(../images/blueCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

#redImg{
    background-image: url(../images/redCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

#greenImg{
    background-image: url(../images/greenCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

#yellowImg{
    background-image: url(../images/yellowCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

h1{
    color: red;
    background-color: yellow;
    width: 500px;
}

#rules{
    background-color: peachpuff;
    color: green;
    height: 350px;
    width: 500px;
}

#goal{
    background-color: forestgreen;
    width: 100px;
    height: 120px;
    font-size: 45px;
    color: lightpink;
   
}

#record{
    color:forestgreen;
    background-color: lightpink;
    width: 100px;
    height: 120px;
}

p.align{
    display:inline;
}