body{
    background-image: url(../images/dark-grey-terrazzo/dark-grey-terrazzo.png);
}

img{
    padding:0;
    border:0;
    margin:0;
}

#blueImg{
    background-image: url(../images/blueCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

#redImg{
    background-image: url(../images/redCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

#greenImg{
    background-image: url(../images/greenCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

#yellowImg{
    background-image: url(../images/yellowCrystal.jpg);
    background-size: 100px 110px;
    width:100px;
    height: 110px;
}

h1{
    color: aquamarine;
    background-color: silver;
    
    text-align: center;
}

#rules{
    background-color: silver;
    color: black;
    
}

#goalBox{
    background-color: gray;
    width: 100px;
    height: 120px;
}

#goal{
    font-size: 45px;
    color: coral;
}

#record{
    color:aquamarine;
    background-color: silver;
    width: 100px;
    height: 120px;
}

#scoreTitle{
    background-color: skyblue;
    width: 200px;
    color: rgb(92, 34, 44)
}

#score{
    background-color: skyblue;
    width: 200px;
    font-size: 45px;
    height: 90px;
    color: rgb(92, 34, 44)
}

#status{
    font-size: 20px;
}

p.align{
    display:inline;
}

button {
    outline: none;
  }